{{!-- systems/fvtt-trnity_continuum-Aether/templates/actor/actor-sheet.hbs --}}
<form class="aether sheet actor" autocomplete="off">

  {{!-- HEADER --}}
  <header class="aether-header">
    <div class="aether-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
    </div>

    {{!-- Optional small meta line --}}
    <div class="aether-muted">
      {{#if (eq actor.type "character")}}PC{{/if}}
      {{#if (eq actor.type "npc")}}NPC{{/if}}
    </div>
  </header>

  {{!-- TABS NAV --}}
  <nav class="sheet-tabs tabs aether-tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="general">General</a>
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="gifts">Gifts & Deviations</a>
    <a class="item" data-tab="others">Others</a>
  </nav>

  {{!-- TABS CONTENT --}}
  <section class="sheet-body aether-tab-content">
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/fvtt-trnity_continuum-Aether/templates/actor/tabs/description.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="general">
      {{> "systems/fvtt-trnity_continuum-Aether/templates/actor/tabs/general.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="stats">
      {{> "systems/fvtt-trnity_continuum-Aether/templates/actor/tabs/stats.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="gifts">
      {{> "systems/fvtt-trnity_continuum-Aether/templates/actor/tabs/gifts.hbs"}}
    </div>

    <div class="tab" data-group="primary" data-tab="others">
      {{> "systems/fvtt-trnity_continuum-Aether/templates/actor/tabs/others.hbs"}}
    </div>
  </section>

</form>