<form class="{{cssClass}}" autocomplete="off">

  <header class="aether-header">
    <div class="aether-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="general">General</a>
    <a class="item" data-tab="stats">Stats</a>
    <a class="item" data-tab="gifts">Gifts & Deviations</a>
    <a class="item" data-tab="others">Others</a>
  </nav>

  <section class="sheet-body">

    <div class="tab" data-group="primary" data-tab="description">
      {{> aether.character.tabs.description}}
    </div>

    <div class="tab" data-group="primary" data-tab="general">
      {{> aether.character.tabs.general}}
    </div>

    <div class="tab" data-group="primary" data-tab="stats">
      {{> aether.character.tabs.stats}}
    </div>

    <div class="tab" data-group="primary" data-tab="gifts">
      {{> aether.character.tabs.gifts}}
    </div>

    <div class="tab" data-group="primary" data-tab="others">
      {{> aether.character.tabs.others}}
    </div>

  </section>
</form>